name: Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    strategy:
      matrix:
        # https://github.com/actions/virtual-environments#available-environments
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - if: ${{ matrix.os == 'ubuntu-latest' }}
        run: sudo apt-get install libsqlite3-dev
      - run: cargo build --locked --release
      - run: cargo test --locked --features test-helpers
      - if: ${{ matrix.os == 'windows-latest' }}
        uses: actions/upload-artifact@v7
        with:
          name: rust-myscript-macos
          path: target/release/filededuplication.exe
          if-no-files-found: error
      - if: ${{ matrix.os == 'macos-latest' }}
        uses: actions/upload-artifact@v7
        with:
          name: rust-myscript-macos
          path: target/release/filededuplication
          if-no-files-found: error
  rustfmt:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - run: rustup component add rustfmt
      - run: sudo apt-get install libsqlite3-dev
      - run: cargo -v fmt -- --check
  clippy:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - run: rustup component add clippy
      - uses: Swatinem/rust-cache@v2
      - run: sudo apt-get install libsqlite3-dev
      - run: cargo clippy
